@inherits LayoutComponentBase
<nav class="navbar navbar-light justify-content-between fixed-top">
    <a class="navbar-brand" href="/items">
        <img src="/images/blazor.png" width="30" height="30" class="d-inline-block align-top">      
    </a>
    
    <form class="form-inline">

       
        <NavLink href="about" ActiveClass="active-nav">
            <button class="btn secondary-background my-2 my-sm-0">About me</button>
        </NavLink>
       
    </form>
</nav>

<div class="main">

    @Body
</div>
