@page "/"
<div class="main-container">
    <div class="post-main primary-background">
        <PostListComponent></PostListComponent>
    </div>
    <div class="about-main secondary-background">
        <AboutBlogComponent></AboutBlogComponent>
    </div>
</div>

