@page "/"
<div class="main-container">
    <div class="post-main">
        <PostListComponent></PostListComponent>
    </div>
    <div class="about-main">
        <AboutComponent TItem="BlazorBlog.Shared.Entities.AboutEntityDTO" Item="@AboutMeItem"></AboutComponent>
        <AboutComponent TItem="BlazorBlog.Shared.Entities.AboutEntityDTO" Item="@AboutBlog"></AboutComponent>
        <AboutComponent TItem="BlazorBlog.Shared.Entities.AboutEntityDTO" Item="@ToYou"></AboutComponent>
    </div>
</div>

