.validation-container {
    display: flex;
    flex-flow: row
}

.validation-input {
    flex: 1 1 auto;
}

.val-tooltip {
    position: relative;
    display: flex;
    flex: 0 0 20px;
    background: red;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem
}
